doctype html
html
	head
		meta(charset='utf-8')
		title User utterance and response viewer
		style table, th, td {border: 1px solid black;}
	body
		h1 Chatbot Simulator
		form(action='/delete' method='post')
			div
				h2 Manage Input & Output
				input(type='submit' value='삭제')
			div
				table
					th
						td Intention
						td User Input
						td Response Text
						td Chatbot status
					-for (var i=0; i<nrows; i++)
						tr
							td
								input(type="checkbox" name=i value=manage_table[i].user_input)
							td= manage_table[i].intention
							td= manage_table[i].user_input
							td= manage_table[i].response_text
							td= manage_table[i].chatbot_status
		div
			form(action='/input' method='post')
				tr
					td
						label Intention
						select(name="selectedIntention" id="selectedIntention")
							option(value="control_engine_start") Control Engine Start
							option(value="control_engine_stop") Control Engine Stop
					td
						label User Input
						input(type="text" name="new_userInput")
					td
						label Response Text
						input(type="text" name="new_responseText" placeholder=manage_table[0].response_text)
					td
						input(type="submit" value="추가")